<tr class="novedades" style="border-bottom: 1px solid #304487; margin-bottom: 20px; cursor: pointer;" id="lstPaginas" align="left">
  <td class="ui-state-default novedades" style="border-bottom: 1px solid #304487; padding-bottom: 20px;" id="novedad1224">
    <a href="[NEWS_LINK]" title="[NEWS_TITLE]" style="text-decoration: none;">
      <p class="Fecha" style="text-decoration: none; margin: 15px 0 0 0; font-family: 'Arial'; color: #666666; font-size: 14px">[NEWS_DATE]</p>
      <h3 class="tituloNovedad" style="text-decoration: none; color: #304487; font-size: 17px; font-family: 'Arial'; margin: 0px">[NEWS_SUMMARY]</h3>
    </a>
  </td>
  <td width="2"></td>
</tr>
